body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.line-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 35px;
  color: #F4AA44;
}

.line-text::before,
.line-text::after {
  content: "";
  flex: 1;
  height: 2px;
  background: #679C5B;
  color: #679C5B;
  
}

#overskrift{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

#knapper{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 0px;
}

button{
    background-color: #679C5B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#loftel{
    width: 720px;
    height: 350px;
    
}

#øverstebillede{
    display: flex;
    justify-content: center;
}

.kategori{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.valgmuligheder{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}