body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

body{
    background-image: url("Grønøverst.png"), url("orange.png"), url("grønnederst.png");
    background-repeat: no-repeat;
    background-position-x: left, right, 50%;
    background-position-y: 300px, 350px, 1500px;
    background-size:  auto, 50% 1100px, 900px 1380px;
}

body{

}
.line-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 35px;
  color: #F4AA44;
}

.line-text::before,
.line-text::after {
  content: "";
  flex: 1;
  height: 2px;
  background: #679C5B;
  color: #679C5B;
  
}

#overskrift{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

#knapper{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 0px;
}

button{
    background-color: #679C5B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#loftel{
    width: 720px;
    height: 350px;
    
}

#øverstebillede{
    display: flex;
    justify-content: center;
}

.kategori{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: antiquewhite;
}

.valgmuligheder{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

#Martin{
    width: 300px;
    height: 350px;
}

#martinmøller{
    display: flex;
    justify-content: center;
    border: #F4AA44;
    border-style: solid;
    
}
#intro{
    width: 300px;
    height: 350px;
    
}

#links{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
}

img{
    height: 300px;
    width: 300px;
}

#linksec{
    padding-top: 100px;
    gap: 100px;
}

#tekst{
    width: 300px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}
